

h1{
	text-align: center;
}
.name{
	
	text-transform: uppercase;
	


}
.col-1{
	width:20%;
	margin-left:20px;
	float: left; 

}



.col-2

{

margin-right: 20px; 

float: right; 
}

.title

{

text-transform: uppercase;

background-color: rgba(184, 241, 78, 0.452);

color: rgb(22, 21, 21); 

}
